@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Patrick+Hand+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 9999;
  transition: right 0.5s ease;
}

.whatsapp-icon img {
  width: 60px;
  height: auto;
  transition: 0.3s;
}

.whatsapp-icon:hover img {
  transform: scale(1.05);
}

/* Style Scroll */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #7b2cbf;
  transition: 0.3s;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a159e0;
}

::-webkit-scrollbar-thumb:focus {
  border-radius: 20px;
}

.about,
.section-2,
.section-3,
.section-4 {
  max-width: 100%;
}

/* Black Line */

.top {
  background-color: #000;
  width: 100%;
  height: 1.19rem;
  display: inline-block;
}

/* Body Styles */

main {
  overflow: hidden;
  max-width: 100%;
}

.bodyWhite{
  background-color: #fff;
}

.bodyDark{
  background-color: #333333;
  color: #fff;
}


/* Header Styles */

.headerWhite{
  background-color: #fff;
}

.headerDark{
  background-color: #333333;
}

.menu-desktop {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: fadeInP 2s ease forwards;
}

.menu-container {
  margin-right: 7em;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: #000;
}

.menu-item:hover {
  opacity: 0.5;
}

.menu-item:active {
  transform: scale(0.6);
}

.logo {
  height: 80px;
  width: 33 0px;
  position: static;
}

.btn-abrir-menu i {
  color: #7b2cbf;
  font-size: 40px;
}

.btn-abrir-menu {
  display: none;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0;
  transition: 0.2s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: #a159e0;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
  list-style-type: none;
  padding: 0;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #a159e0;
  color: #000;
}

.overlay-menu {
  background-color: #00000085;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}

/* Main Styles */

.background-main {
  width: 100vw;
  height: 100vh;
  animation: fadeIn 2s ease forwards;
  z-index: -1;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 50px;
  margin-left: 4%;
  margin-top: 4%;
  animation: fadeInT 2s ease forwards;
  width: 50%;
}

@keyframes fadeInT {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title span {
  color: #a159e0;
  font-size: 55px;
}

.content {
  width: 50%;
}

.content p {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  width: 13em;
  text-align: justify;
  margin-left: 8%;
  animation: fadeInP 2s ease forwards;
  opacity: 100%;
}

.sub-title {
  margin-top: 2%;
}

.sub-title span {
  color: #a159e0;
  font-size: 70px;
  line-height: 20px;
}

@keyframes fadeInP {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  max-width: 94%;
}

.wrapper {
  color: #000;
  font-family: "Signika Negative", sans-serif;
  animation: fadeInP 2s ease forwards;
  position: absolute;
  margin-top: 8%;
}

.link_wrapper {
  position: relative;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: -10px;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #a159e0;
  transition: all 0.35s;
}

.btn-a:hover {
  width: 200px;
  border: 3px solid #a159e0;
  background: transparent;
  color: #a159e0;
}

.btn-a:hover + .icon {
  border: 3px solid #a159e0;
}

.logo-praia {
  width: 40em;
  height: 30em;
  position: absolute;
  z-index: 999;
  margin-right: 14em;
  animation: fadeInP 2s ease forwards;
}

/* About Styles */

.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  height: 50vh;
  width: 100vw;
  background-color: #a159e0;
  margin-top: 499px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  width: 14em;
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
  animation: fadeInP 2s ease forwards;
}

.div-p {
  margin-top: 8%;
  margin-right: 13em;
  width: 50%;
  text-align: justify;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  animation: fadeInP 2s ease forwards;
}

/* section-2 styles */

.section-2 {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-bottom: 5.3%;
}

.sec-title {
  font-family: "Space Grotesk", sans-serif;
  margin-left: 4%;
  padding-top: 5%;
  font-weight: 400;
  margin-top: 0;
  animation: fadeInP 2s ease forwards;
}

.sec-subtitle {
  font-family: "Cabin", sans-serif;
  margin-left: 4%;
  width: 25%;
  text-align: justify;
  animation: fadeInP 2s ease forwards;
  font-size: 15pt;
}

.dev-sea {
  font-weight: bold;
  color: #a159e0;
}

.interrogation {
  color: #a159e0;
  font-weight: bold;
}

.container_imgs-general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_imgs-general img {
  transition: 0.3s;
}

.pc,
.atendment,
.clock,
.lamp {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  animation: fadeInP 2s ease forwards;
  margin-top: 4%;
}

.pc {
  margin-left: 4.5em;
}

.pc img,
.atendment img,
.clock img,
.lamp img {
  width: 79%;
  border-radius: 20px;
  animation: fadeInP 2s ease forwards;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
}

.container_imgs-general img:hover {
  transform: scale(1.05);
}

.pc h1,
.atendment h1,
.clock h1,
.lamp h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  animation: fadeInP 2s ease forwards;
  padding-top: 5%;
}

.pc p,
.atendment p,
.clock p,
.lamp p {
  text-align: justify;
  width: 79%;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
  font-size: 17px;
  animation: fadeInP 2s ease forwards;
  letter-spacing: 0.5px;
  padding-top: 3%;
}

/* section-3 styles */

.section-3 {
  height: 100vh;
  width: 100vw;
  background-color: #f6f5f5;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px,
    rgba(0, 0, 0, 0.12) 0px -6px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
    rgba(0, 0, 0, 0.17) 0px 6px 7px, rgba(0, 0, 0, 0.09) 0px -2px 3px;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.content-3 {
  flex: 1;
  text-align: center;
}

.content-3 h1 {
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 30pt;
  width: 58%;
  padding-top: 10%;
  flex: 1;
  text-align: center;
}

.content-3 p {
  width: 65%;
  margin: 0 auto;
  padding-top: 4%;
  text-align: center;
  font-size: 16pt;
}

.btn-dark {
  margin-top: 4%;
  width: 20%;
  font-weight: bold;
  background-color: #000;
  font-size: 15pt;
}

.card {
  position: relative;
  width: 26%;
  height: 40em;
  margin-right: 28%;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 2;
}
.card-body {
  background-color: #000;
  color: #fff;
  padding-left: 7%;
  padding-bottom: 50%;
}

.card::after {
  content: "";
  position: absolute;
  top: 59.1%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  z-index: 1;
}

.card-title {
  font-size: 25pt;
  color: #fff;
}

.card-text {
  font-size: 45pt;
  position: relative;
  font-weight: bolder;
  color: #fff;
}

.real {
  font-size: 15pt;
  position: absolute;
  top: -10px;
  color: #fff;
}

.about-plan p {
  margin-top: 0.04em;
}

.card-rosa {
  position: absolute;
  top: 59%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ffd7ef;
  z-index: 0;
}

.card-body {
  padding-bottom: 50%;
}

.btn-primary {
  background-color: #fff;
  transition: 0.3s;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 9%;
  border: #ffd7ef;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  font-family: "Cabin", sans-serif;
  font-size: 15pt;
}

.btn-primary:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: #000;
}

.imgs-rosa {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

.imgs-rosa img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.img-1,
.img-2 {
  display: flex;
}

.img-1 p {
  margin: 20px;
}

.section-4 {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100vw;
  background-color: #ffbe22;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px,
    rgba(0, 0, 0, 0.12) 0px -6px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
    rgba(0, 0, 0, 0.17) 0px 6px 7px, rgba(0, 0, 0, 0.09) 0px -2px 3px;
  padding-bottom: 2%;
}

.container-footer {
  display: flex;
  align-items: flex-start;
  padding-left: 5%;
  padding-top: 4%;
}

.container-footer h2 {
  font-family: "Space Grotesk", sans-serif;
}

.logo-container_footer {
  display: flex;
  align-items: center;
}

.content-footer-1,
.content-footer-2,
.content-footer-3 {
  flex: 1;
  padding-top: 10%;
}

iframe {
  width: 25em;
  height: 25em;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content-footer-1 .atendimento {
  padding-top: 5%;
}
.logo-container_footer img {
  width: 85px;
  height: auto;
  margin-right: 10px;
}

.container-footer h1 {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 22pt;
}

.content-footer-1 .email{
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.content-footer-2 label {
  margin-top: 4%;
}

.content-footer-2 input {
  border-radius: 10px;
  width: 40%;
  border: 1px solid #000;
  background-color: #ffbe22;
  transition: 0.3s;
  font-family: "Space Grotesk", sans-serif;
}

.content-footer-2 input:focus {
  background-color: #fff;
}

.wrapper-2 {
  display: flex;
  padding-top: 5%;
}

.cta {
  display: flex;
  padding: 2px 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: white;
  background: rgb(115, 0, 255);
  background: linear-gradient(
    270deg,
    rgba(115, 0, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .btn-contact:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .btn-contact:nth-child(2) {
  transition: 0.5s;
  margin-right: 20px;
}

.btn-contact {
  transform: skewX(15deg);
}

.btn-contact:nth-child(2) {
  width: 15px;
  margin-left: 20px;
  position: relative;
  top: 12%;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

.social-media{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: flex;
  margin-top: 6%;
}

.social-media a {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.copyright:hover {
  opacity: 0.8;
}

.social-media .linkedin {
  background-color: #0077B5;
  color: #ffffff;
}

.social-media .instagram {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: #ffffff;
}

.social-media .youtube {
  background-color: #FF0000;
  color: #ffffff;
}

.bot {
  background-color: #000;
  width: 100%;
  height: 1.9rem;
  display: block;
  color: #fff;
}

.bot p{
  text-align: center;
}

.assinar{
  background-color: transparent;
  border: none;
}

.assinar span{
  color: #fff;
}


/* Styles Planos */

.bodyPlanos{
  background: rgb(108,46,77);
  background: linear-gradient(90deg, rgba(108,46,77,1) 0%, rgba(123,44,191,1) 100%);
}

.textoPlanos{
  text-align: center;
  color: #ffd7efcc;
}

.textoPlanos h1{
  font-family: "Space Grotesk", sans-serif;
  font-size: 22pt;
}

.textoPlanos p{
  font-family: "Cabin", sans-serif;
  font-size: 17px;
}

.cardPlanos {
  position: relative;
  width: 26%;
  height: 40em;
  margin-right: 28%;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 2;
}
.cardBody {
  background-color: #000;
  color: #fff;
  padding-left: 7%;
  padding-bottom: 50%;
}

.cardPlanos::after {
  content: "";
  position: absolute;
  top: 59.1%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  z-index: 1;
}

.cardTitle  {
  font-size: 25pt;
  color: #fff;
}

.cardText {
  font-size: 45pt;
  position: relative;
  font-weight: bolder;
  color: #fff;
}

.realPlanos {
  font-size: 15pt;
  position: absolute;
  top: -10px;
  color: #fff;
}

.aboutPlanos p {
  margin-top: 0.04em;
  text-decoration: none;
}

.cardRosa {
  position: absolute;
  top: 59%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #ffd7ef;
  z-index: 0;
}

.cardBody {
  padding-bottom: 50%;
}

.btn-primaryPlanos {
  background-color: #fff;
  transition: 0.3s;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 9%;
  border: #ffd7ef;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  font-family: "Cabin", sans-serif;
  font-size: 15pt;
}

.btn-primaryPlanos:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: #000;
}

.imgs-rosaPlanos {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

.imgs-rosaPlanos img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.img-1,
.img-2 {
  display: flex;
}

.img-1 p {
  margin: 20px;
}

@media screen and (max-width: 1080px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Menu Mobile Style */

  .menu-container {
    display: none;
  }

  .logo {
    height: auto;
    width: 150px;
    position: static;
  }

  .btn-abrir-menu {
    display: block;
  }

  .menu-item {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .menu-mobile nav ul li a {
    font-family: "Josefin Sans", sans-serif;
  }

  /* Main Style */

  .div-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title {
    margin: 0;
    font-size: 24pt;
    padding-bottom: 6%;
  }

  .container {
    width: 100%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-praia {
    /* width: 30em;
  height: auto;
  position: absolute;
  z-index: 999;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 2s ease 0s 1 normal forwards running fadeInP; */
    display: none;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .content p {
    margin-left: 0;
  }

  .wrapper {
    margin: 0;
    padding-top: 4%;
  }

  .btn-a:active {
    transform: scale(0.09);
  }

  .icon {
    display: none;
  }

  /* Style About */

  .about {
    height: 95vh;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .div-h1,
  .div-p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .div-h1 {
    margin-top: 10%;
    position: relative;
    font-size: 13.5pt;
  }

  .about-h1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .div-p {
    margin-top: 43%;
  }

  /* O que oferecemos Stlye */

  .sec-title {
    font-size: 23pt;
    text-align: center;
  }

  .sec-subtitle {
    width: 73%;
    font-size: 14pt;
    margin: 0 auto;
    text-align: center;
  }

  .container_imgs-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 9%;
  }

  .container_imgs-general img:hover {
    transform: none;
  }

  .pc,
  .atendment,
  .clock,
  .lamp {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12%;
  }

  .pc {
    margin: 0;
  }

  .pc img,
  .atendment img,
  .clock img,
  .lamp img {
    width: 95%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 15px -15px;
  }

  .pc p,
  .atendment p,
  .clock p,
  .lamp p {
    font-size: 14pt;
    width: 94%;
  }

  .pc h1,
  .atendment h1,
  .clock h1,
  .lamp h1 {
    font-size: 25pt;
  }

  .content-3 h1 {
    width: 100%;
    text-align: center;
    padding: 4%;
  }

  .content-3 p {
    width: 92%;
  }

  .btn-dark {
    width: 84%;
  }

  .section-3 {
    height: 100%;
    position: relative;
    padding-bottom: 15%;
  }

  .container-3 {
    flex-direction: column;
  }

  .content-3 {
    width: 100%;
  }

  .card {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
    z-index: 4;
  }

  .section-4 {
    width: 100vw;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px,
      rgba(0, 0, 0, 0.12) 0px -6px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
      rgba(0, 0, 0, 0.17) 0px 6px 7px, rgba(0, 0, 0, 0.09) 0px -2px 3px;
  }

  .container-footer {
    flex-direction: column;
    align-items: center;
    padding: 4% 5%;
  }

  .logo-container_footer img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .content-footer-1,
  .content-footer-2,
  .content-footer-3 {
    flex: none;
    width: 100%;
    padding-top: 0;
  }

  iframe {
    width: 100%;
    max-width: 300px; 
    height: 200px;
    border-radius: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .content-footer-1 .atendimento {
    padding-top: 0;
  }

  .container-footer h1 {
    font-size: 18pt;
  }

  .content-footer-2 input {
    width: 100%;
  }

  .cta {
    font-size: 24px;
    padding: 10px 20px;
  }

  .cta .btn-contact:nth-child(2) {
    display: none;
  }

  .content-footer-3,
  .content-footer-2,
  .content-footer-1{
    padding-top: 10%;
  }
  .social-media li {
    margin-top: 4%;
  }

  .social-media .instagram{
    margin-top: 5%;
  }

  .bot p{
    font-size: 14px;
  }
}
