@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: -100px;
  z-index: 9999;
  transition: right 0.5s ease;
}

.whatsapp-icon img {
  width: 60px;
  height: auto;
  transition: 0.3s;
}

.whatsapp-icon:hover img {
  transform: scale(1.05);
}

/* Style Scroll */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #7b2cbf;
  transition: 0.3s;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a159e0;
}

::-webkit-scrollbar-thumb:focus {
  border-radius: 20px;
}

/* Black Line */

.top {
  background-color: #000;
  width: 100%;
  height: 1.19rem;
  display: inline-block;
}

/* Body Styles */

body {
  overflow-x: hidden;
}

/* Header Styles */

.menu-desktop {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 2%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: fadeInP 2s ease forwards;
}

.menu-container {
  margin-right: 7em;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: #000;
}

.menu-item:hover {
  opacity: 0.5;
}

.menu-item:active {
  transform: scale(0.6);
}

.logo {
  height: 50px;
  width: 300px;
  position: static;
}

.btn-abrir-menu i {
  color: #7b2cbf;
  font-size: 40px;
}

.btn-abrir-menu {
  display: none;
}

.menu-mobile {
  background-color: #000;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0;
  transition: 0.2s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: #a159e0;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
  list-style-type: none;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #a159e0;
  color: #000;
}

.overlay-menu {
  background-color: #00000085;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}

/* Main Styles */

.background-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation: fadeIn 2s ease forwards;
  z-index: -1;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 50px;
  margin-left: 4%;
  margin-top: 4%;
  animation: fadeInT 2s ease forwards;
  width: 50%;
}

@keyframes fadeInT {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title span {
  color: #a159e0;
  font-size: 55px;
}

.content {
  width: 50%;
}

.content p {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  width: 13em;
  text-align: justify;
  margin-left: 8%;
  animation: fadeInP 2s ease forwards;
  opacity: 100%;
}

.sub-title {
  margin-top: 2%;
}

.sub-title span {
  color: #a159e0;
  font-size: 70px;
  line-height: 20px;
}

@keyframes fadeInP {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
}

.wrapper {
  color: #000;
  font-family: "Signika Negative", sans-serif;
  animation: fadeInP 2s ease forwards;
  position: absolute;
  margin-top: 8%;
}

.link_wrapper {
  position: relative;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all 0.35s;
}

.icon {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all 0.35s;
}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #a159e0;
  transition: all 0.35s;
}

.btn-a:hover {
  width: 200px;
  border: 3px solid #a159e0;
  background: transparent;
  color: #a159e0;
}

.btn-a:hover+.icon {
  border: 3px solid #a159e0;
  right: -25%;
}

.logo-praia {
  width: 40em;
  height: 30em;
  position: absolute;
  z-index: 999;
  margin-right: 14em;
  animation: fadeInP 2s ease forwards;
}

/* About Styles */

.container-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  height: 50vh;
  width: 100vw;
  background-color: #a159e0;
  margin-top: 499px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  width: 14em;
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
  animation: fadeInP 2s ease forwards;
}

.div-p {
  margin-top: 8%;
  margin-right: 13em;
  width: 50%;
  text-align: justify;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  animation: fadeInP 2s ease forwards;
}

/* section-2 styles */

.section-2 {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-bottom: 5.3%;
}

.sec-title {
  font-family: "Space Grotesk", sans-serif;
  margin-left: 4%;
  padding-top: 5%;
  font-weight: 400;
  margin-top: 0;
  animation: fadeInP 2s ease forwards;
}

.sec-subtitle {
  font-family: "Cabin", sans-serif;
  margin-left: 4%;
  width: 25%;
  text-align: justify;
  animation: fadeInP 2s ease forwards;
  font-size: 15pt;
}

.dev-sea {
  font-weight: bold;
  color: #a159e0;
}

.interrogation {
  color: #a159e0;
  font-weight: bold;
}

.container_imgs-general {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_imgs-general img {
  transition: 0.3s;
}

.pc,
.atendment,
.clock,
.lamp {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  animation: fadeInP 2s ease forwards;
  margin-top: 4%;
}

.pc {
  margin-left: 4.5em;
}

.pc img,
.atendment img,
.clock img,
.lamp img {
  width: 79%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  animation: fadeInP 2s ease forwards;
}

.container_imgs-general img:hover {
  transform: scale(1.05);
}

.pc h1,
.atendment h1,
.clock h1,
.lamp h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  animation: fadeInP 2s ease forwards;
  padding-top: 5%;
}

.pc p,
.atendment p,
.clock p,
.lamp p {
  text-align: justify;
  width: 79%;
  font-weight: 400;
  font-family: "Cabin", sans-serif;
  font-size: 17px;
  animation: fadeInP 2s ease forwards;
  letter-spacing: 0.5px;
  padding-top: 3%;
}

/* section-3 styles */

.section-3 {
  height: 100vh;
  width: 100vw;
  background-color: #F6F5F5;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px,
    rgba(0, 0, 0, 0.12) 0px -6px 20px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px,
    rgba(0, 0, 0, 0.17) 0px 6px 7px,
    rgba(0, 0, 0, 0.09) 0px -2px 3px;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
}

.content-3 {
  flex: 1;
}

.content-3 h1 {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 30pt;
  width: 58%;
  padding-left: 9%;
  padding-top: 10%;
  flex: 1;
}

.content-3 p {
  width: 58%;
  padding-left: 9%;
  text-align: justify;
}

.btn-dark{
  margin-left: 9%;
  margin-top: 4%;
  width: 20%;
  font-weight: bolder;
  background-color: #000;
}

.card {
  position: relative;
  width: 26%;
  height: 40em;
  margin-right: 28%;
  margin-top: 3%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  overflow: hidden; 
  border-radius: 20px;
}

.card-body{
  background-color: #000;
  color: #fff;
  padding-left: 7%;
}

.card::after {
  content: '';
  position: absolute;
  top: 59.1%; 
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: #000000; 
  z-index: 1; 
}

.card-title {
  font-size: 25pt;
  color: #fff;
}

.card-text {
  font-size: 45pt;
  position: relative; 
  font-weight: bolder;
  color: #fff;
}

.real {
  font-size: 15pt;
  position: absolute; 
  top: -10px;
  color: #fff;
}

.about-plan p {
  margin-top: 0.04em;
}


.card-rosa {
  position: absolute;
  top: 59%; 
  left: 0;
  width: 100%;
  height: 50%; 
  background-color: #FFD7EF; 
  z-index: 0; 
}

.card-body {
  padding-bottom: 50%;
}

.btn-primary{
  background-color: #fff;
  transition: .3s;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 9%;
  border: #FFD7EF;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  font-family: "Cabin", sans-serif;
  font-size: 15pt;
}

.btn-primary:hover{
  background-color: #fff;
  transform: scale(1.05);
  color: #000;

}

.imgs-rosa{
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: left;
  flex-direction: column;
}

.imgs-rosa img{
  width: 40px;
  height: 40px;
  margin: 10px;
}

.img-1,
.img-2{
  display: flex;
}

.img-1 p{
  margin: 20px;
}


.section-4{
  height: 80vh;
  width: 100vw;
  background-color: #F6F5F5;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px,
    rgba(0, 0, 0, 0.12) 0px -6px 20px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px,
    rgba(0, 0, 0, 0.17) 0px 6px 7px,
    rgba(0, 0, 0, 0.09) 0px -2px 3px;
}


@media screen and (max-width: 1080px) {

  html,
  body,
  main {
    max-width: 100%;
  }

  /* Menu Mobile Style */

  .menu-container {
    display: none;
  }

  .logo {
    height: auto;
    width: 150px;
    position: static;
  }

  .btn-abrir-menu {
    display: block;
  }

  .menu-item {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .menu-mobile nav ul li a {
    font-family: "Josefin Sans", sans-serif;
  }

  /* Main Style */

  .div-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title {
    margin: 0;
    font-size: 24pt;
    padding-bottom: 6%;
  }

  .container {
    width: 100%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-praia {
    /* width: 30em;
  height: auto;
  position: absolute;
  z-index: 999;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 2s ease 0s 1 normal forwards running fadeInP; */
    display: none;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .content p {
    margin-left: 0;
  }

  .wrapper {
    margin: 0;
    padding-top: 4%;
  }

  .btn-a:active {
    transform: scale(0.09);
  }

  .icon {
    display: none;
  }

  /* Style About */

  .about {
    height: 75vh;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .div-h1,
  .div-p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .div-h1 {
    margin-top: 10%;
    position: relative;
    font-size: 13.5pt;
  }

  .about-h1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .div-p {
    margin-top: 25%;
  }

  /* O que oferecemos Stlye */

  .sec-title {
    font-size: 23pt;
    text-align: center;
  }

  .sec-subtitle {
    width: 73%;
    font-size: 14pt;
    margin: 0 auto;
    text-align: center;
  }

  .container_imgs-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 9%;
  }

  .pc,
  .atendment,
  .clock,
  .lamp {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 12%;
  }

  .pc {
    margin: 0;
  }

  .pc img,
  .atendment img,
  .clock img,
  .lamp img {
    width: 95%;
    height: auto;
  }

  .pc p,
  .atendment p,
  .clock p,
  .lamp p {
    font-size: 14pt;
    width: 94%;
  }

  .pc h1,
  .atendment h1,
  .clock h1,
  .lamp h1 {
    font-size: 25pt;
  }
}